<table class="table table-hover table-striped table-condensed table-bordered coursesTable" data-ng-controller="CourseChildController">
    <thead>
        <tr>
            <th data-ng-click="setCourse('topic')">内容</th>
            <th data-ng-click="setCourse('hours')">课时</th>
            <th data-ng-click="setCourse('type')">类型</th>
            <th data-ng-click="setCourse('instruction')">培训部门</th>
            <th data-ng-click="setCourse('score')">学分</th>
            <th data-ng-click="setCourse('date')">培训日期</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-hide="member.courses || member.courses.length > 0" class="error">
            <td colspan="7">
                <div class="text-center"><strong>No courses found</strong></div>
            </td>
        </tr>
        <tr data-ng-repeat="course in member.courses | orderBy:orderby:reverse">
            <td>
                {{ course.topic }}
            </td>
            <td>
                {{ course.hours }}
            </td>
            <td>
                 {{ course.type }}
            </td>
            <td>
                {{ course.instruction }}
            </td>
            <td>
                {{ course.score }}
            </td>
            <td>
                {{ course.date }}
            </td>
            <td>
                <button class="btn close cardClose" data-ng-click="deleteCourse(member._id,course._id)">&times;</button>
            </td>
        </tr>
    </tbody>
</table>